<div class="charz-params-container" data-controller="charz-parameters" data-core-index="<%= core_index %>" data-charz-section>
  <div class="parameter-header">
    <span>Charz Configuration</span>
  </div>
  
  <!-- Search Granularity -->
  <div class="form-group">
    <label class="form-label">Search Granularity <span class="text-red-500">*</span></label>
    <div class="form-hint">Select one or more granularity options</div>
    <div class="charz-granularity-options">
      <% %w[allcore bycore].each do |granularity| %>
        <label class="form-checkbox-label">
          <input type="checkbox" 
                 name="ip_configurations[<%= ip_type %>][charz_data][<%= core_index %>][search_granularity][]"
                 value="<%= granularity %>">
          <span><%= granularity %></span>
        </label>
      <% end %>
    </div>
  </div>
  
  <!-- Search Type -->
  <div class="form-group">
    <label class="form-label">Search Type <span class="text-red-500">*</span></label>
    <div class="charz-search-options">
      <% %w[VMIN FMAX].each do |search_type| %>
        <label class="form-checkbox-label">
          <input type="checkbox" 
                 name="ip_configurations[<%= ip_type %>][charz_data][<%= core_index %>][search_types][]"
                 value="<%= search_type %>"
                 data-action="change->charz-parameters#toggleSearchType">
          <span><%= search_type %></span>
        </label>
      <% end %>
    </div>
  </div>
  
  <!-- Search Type Tables Container -->
  <div data-charz-parameters-target="tablesContainer"></div>
  
  <!-- PSM Register Size -->
  <div class="form-group">
    <label class="form-label">PSM Register Size <span class="text-red-500">*</span></label>
    <input type="text" 
           name="ip_configurations[<%= ip_type %>][charz_data][<%= core_index %>][psm_register_size]"
           placeholder="Enter size"
           class="form-input">
  </div>
</div>

<!-- Template for search type table -->
<template id="search-type-table-template">
  <div class="search-type-section" data-search-type="SEARCH_TYPE">
    <div class="search-type-header">SEARCH_TYPE Test Types</div>
    
    <!-- Spec Variable -->
    <div class="form-group">
      <div class="flex items-center justify-between mb-2">
        <label class="form-label mb-0">SEARCH_TYPE Spec Variable <span class="text-red-500">*</span></label>
        <label class="form-checkbox-label text-sm">
          <input type="checkbox" 
                 name="ip_configurations[IP_TYPE][charz_data][CORE_INDEX][use_power_supply][SEARCH_TYPE]"
                 data-action="change->charz-parameters#togglePowerSupply">
          <span>Use Power Supply</span>
        </label>
      </div>
      <input type="text" 
             name="ip_configurations[IP_TYPE][charz_data][CORE_INDEX][spec_variables][SEARCH_TYPE]"
             placeholder="Enter spec variable"
             class="form-input">
    </div>
    
    <!-- Test Type Selection -->
    <div class="form-group">
      <label class="form-label">Test Types</label>
      <div class="form-checkbox-group">
        <% %w[CREST BIST PBIST].each do |test_type| %>
          <label class="form-checkbox-label">
            <input type="checkbox" 
                   name="ip_configurations[IP_TYPE][charz_data][CORE_INDEX][selected_test_types][SEARCH_TYPE][]"
                   value="<%= test_type %>"
                   data-action="change->charz-parameters#toggleTestType">
            <span><%= test_type %></span>
          </label>
        <% end %>
      </div>
    </div>
    
    <!-- Test Type Table -->
    <div class="table-container">
      <table class="table table-compact">
        <thead>
          <tr>
            <th>Test Type</th>
            <th>WL Count</th>
            <th>Test Points</th>
            <th>Search Start</th>
            <th>Search End</th>
            <th>Search Step</th>
            <th>Resolution</th>
          </tr>
        </thead>
        <tbody data-test-types-tbody>
          <!-- Rows will be added dynamically -->
        </tbody>
      </table>
    </div>
    
    <!-- Workload Table Container -->
    <div class="workload-table-wrapper" data-workload-container></div>
  </div>
</template>
